body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60rem;
    font-size: 100%;
    margin: 0 auto;
    border: 2px solid red;
}

main {
    clear: left;
    padding: 0 30px 10px;
}
header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
    border-bottom: 2px solid red;
    background: linear-gradient(to bottom, #33ccff 0%, #99ffcc 100%);
}

html {
    background-color: #DEF4F7;
}

body {
    background-color: whitesmoke;
}

img {
    border: 1px solid red;
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

footer {
    font-size: 2rem;
    text-align: center;
    border-top: 2px solid red;
}
